.check{
    display:inline-block;
    font-size: 40px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px 22px;
    border-radius: 50%;
    color: green;
    border: 5px solid green;
    margin-bottom: 10px;
}