/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-size: 12px;; margin: 0; padding: 0;}
body {
  font-size: 12px;

}
.btn {
    font-size: 0.8rem;
    border-radius: 0;
    padding: 5px 30px;
}
.footer{
    width: 100%;
    height: 34px;
  background-color: #f7f7f7;
  color: #333333;
  font-size: 11px;
  p{
    padding: 0px;
    margin: 0px;
  }
  a{
    color: gray;
    text-decoration: none;
  }
}
.mat-form-field {
  margin-bottom: 8px;
}

.mat-form-field-wrapper {
  padding: 0 8px;
}

.mat-input-element {
  padding: 4px 8px;
  font-size: 13px;
}

.mat-raised-button {
  padding: 4px 12px;
  font-size: 13px;
}

.mat-select-trigger {
  padding: 4px 8px;
  font-size: 13px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color:transparent!important;
  box-shadow: none!important;
}

.success-snackbar, .mat-mdc-simple-snack-bar {
  background-color: #7371ff  !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 1px 0px 10px rgb(0 0 0 / 41%);
}
.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
  color:#ecff4f!important;
}

