<div class="cart-wrapper">
  <!-- Left Column: Scrollable Items -->
  <div class="cart-items">

    <div *ngIf="isCartEmpty" class="empty-cart empty-cart-message ">
      <mat-icon>shopping_cart</mat-icon>
  <p>Your cart is currently empty.</p>
   <button mat-button color="primary" class="btn-continue-shopping" [routerLink]="['/books']">
    Return to Book Store
  </button>
</div>



    <app-cart-item *ngFor="let item of cartItems" [item]="item" 
    (adjust)="updateQuantity($event)" 
    (remove)="removeItem($event)">
  </app-cart-item>
    <div class="subtotal" *ngIf="cartItems.length">
      Subtotal ({{ totalItems }} items):
      <strong>{{ subtotal | currency }}</strong>
    </div>
  </div>

  <!-- Right Column: Fixed Summary -->
  <div class="cart-summary" *ngIf="cartItems.length">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>${{ subtotal }}</td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>${{ shipping }}</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td>−${{ discount }}</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>${{ tax }}</td>
      </tr>
      <tr class="total-row">
        <td>Estimated Total</td>
        <td>${{ estimatedTotal }}</td>
      </tr>
    </table>

    <button mat-raised-button color="primary" class="checkout-btn" [disabled]="!cartItems.length">
      Proceed to Checkout
    </button>
    

  </div>
</div>
